  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,500;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 70%;
}
body{
    background-color: rgb(0, 0, 29);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 5%;

}
nav img{
    height: 100px;
    cursor: pointer;

}

nav .logo_section{
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 100%;
}
nav .logo_section h2{
    cursor: pointer;
}
nav .nav_buttons{
    display: flex;
    height: 100%;
    width: 30rem;
    justify-content: space-around;
    align-items: center;
}
.nav_buttons button{
    font-size: 2rem;
    width: 10rem;
    height: 50px;
    background:transparent;
    color: aliceblue;
    outline: none;
    border: none;
    cursor: pointer;
}
.header_container{
    width: 100%;
    padding: 0 5%;
}
header{
    background-image: linear-gradient(to right,rgba(0, 0, 29, 0.603),rgba(0, 0, 29, 0.603),rgba(131, 0, 0, 0.445)),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/51e53f54-0d9f-40ec-9e05-c030def06ac9/be5b2939-da9f-4b9f-b76b-31b32ad0515b/IN-en-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 600px;
    width: 100%;
    border-radius: 20px;
    padding: 150px 35% 150px 10%;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    flex-direction: column;
    color: rgb(255, 255, 255);
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
header h1{
    font-size: 4.58rem;
    font-weight: 900;
}
header h4{
    font-size: 2rem;
}
header p{
    font-size: 1.4rem;
}
header .access{
    width: 100%;
    display: flex;
}
header input{
    width: 60%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.514);
    outline-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 3%;
    color: white;
}
header input::placeholder{
    color: #a7a5a5;
}
header button{
    height: 50px;
    width: 18rem;
    background: #d10202;
    color: white;
    font-size: 2rem;
    border:none;
    border-radius: 5px;
    margin-left: 10px;
}
main{
    width: 100%;
    background-color: rgb(0, 0, 29);
    padding: 0 5%;
    
}
main .main_caontainer{
    width: 100%;
    background-image:linear-gradient(to bottom right,rgb(1, 1, 32),rgba(255, 8, 8, 0.171));
    border-radius: 20px;
    padding: 6%;
    color: white;
    margin-top: 30px;
}
main .main_caontainer .simple_line{
    height: 10px;
    width: 100%;
    background: #ffffff4b;
    margin: 5px 0;
}

main .sections_in_main_container, .sections_in_main_container2,.sections_in_main_container3,.sections_in_main_container4{
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
main .part_A_of_sections_in_main_container,.part_B_of_sections_in_main_container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
main .part_A_of_sections_in_main_container h1{
    margin: 10px 0;
    font-size: 4rem;
}
main .part_A_of_sections_in_main_container h4{
    font-size: 1.5rem;
}
main .quetions_container{
    width: 100%;
    padding: 0 5%;
    margin-top: 100px;
}
main .quetions_container h1{
    font-size: 3rem;
    color: white;
}
main .quetions_container h3{
    font-size: 1.5rem;
    color: white;
    margin: 25px 0;
}
main .quetions_container  input{
    width: 40rem;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.514);
    outline-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 3%;
    color: white;
}
main .quetions_container button{
    height: 50px;
    width: 18rem;
    background: #d10202;
    color: white;
    font-size: 2rem;
    border:none;
    border-radius: 5px;
    margin-left: 10px;
}
main .quetion{
    height: 80px;
    width:100%;
    background: #040138;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    padding: 0 2%;
    justify-content: space-between;
    transition: 0.3s linear;
    cursor: pointer;
}
main .quetion:hover{
    background-color: #161441;
    transition: 0.3s linear;
}
footer{
    width: 100%;
    padding: 2% 10%;
    color: white;
    min-height: 600px;
}
footer a{
    font-size: 1.2rem;
    color: white;
}
.footer_card_container{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cards{
    width:25%;
    overflow: hidden;
    height:400px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.cards a{
    color: #ffffff;
    margin:15px 0;
}
.cards select{
    margin-top: 15px;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
}

@media (max-width:1024px){
    html{
        font-size: 50%;
    }
    header h1{
        font-size: 4.5rem;
    }
    footer{
        min-height: 500px;
    }
    .cards{
        width: 50%;
        height: auto;

    }
    #end_line{
        margin-top: 35px;

    }
    nav img{
        height: 70px;
    }


}
@media (max-width:600px){
    html{
        font-size: 45%;
    }
main .sections_in_main_container, .sections_in_main_container2,.sections_in_main_container3,.sections_in_main_container4{
    flex-direction: column;
}
main .sections_in_main_container2,.sections_in_main_container4{
    flex-direction: column-reverse;
}
main .part_A_of_sections_in_main_container,.part_B_of_sections_in_main_container{
    width: 100%;
}
header {
    padding: 120px 5% 120px 5%;

}
header input{
    width: 100%;
}
header .access{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
header button{
    
    margin-top: 20px;
    margin-left:0;
}
main .quetions_container  input{
    width: 100%;
}
main .quetions_container  button{
    margin-left: 0;
    margin-top: 20px;
}
.cards {
    width: 100%;
    height: auto;}
.cards a{
 
    font-size: 1.5rem;
}
nav img{
    height: 40px;
}
}